{%- doc -%}
  Renders the search action button.

  @param {string} [style] - The style of the search action.
  @param {string} [class] - Additional classes for the search action.
  @param {string} [display_style] - The display style ('icon' or 'text').

  @example
  {% render 'search', style: 'default', class: 'custom-class', display_style: 'icon' %}
{%- enddoc -%}

{% unless style == 'none' %}
  <div class="search-action header-search-inline{% if class != blank %} {{ class | strip }}{% endif %}">
    <predictive-search-component
      class="predictive-search"
      data-section-id="predictive-search"
      role="search"
      aria-label="{{ 'content.search_input_label' | t }}"
    >
      <form
        action="{{ routes.search_url }}"
        method="get"
        role="search"
        class="predictive-search-form"
        ref="form"
        on:keydown="/onSearchKeyDown"
      >
        <div class="predictive-search-form__header header-search-inline__header">
          <div class="predictive-search-form__header-inner">
            <label for="header-search-input" class="visually-hidden">
              {{- 'content.search_input_label' | t -}}
            </label>
            <input
              class="search-input"
              id="header-search-input"
              type="search"
              name="q"
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-inline"
              aria-controls="predictive-search-results-inline"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocomplete="off"
              placeholder="Search for products..."
              ref="searchInput"
              on:input="/search"
              on:keydown="/onSearchKeyDown"
            >
            <input name="options[prefix]" type="hidden" value="last">
            <span class="svg-wrapper predictive-search__icon">
              {{ 'icon-svg-search.svg' | inline_asset_content }}
            </span>
            <button
              type="button"
              class="button-unstyled predictive-search__reset-button header-search-inline__reset"
              ref="resetButton"
              hidden
              on:click="/resetSearch"
            >
              {{ 'actions.clear' | t }}
            </button>
          </div>
        </div>
        <div class="predictive-search-form__content-wrapper">
          <div
            class="predictive-search-form__content"
            ref="predictiveSearchResults"
            on:click="/handleModalClick"
          >
            {% render 'predictive-search-empty-state',
              load_empty_state: false,
              shadow_opacity: 0.1
            %}
          </div>
          <div class="predictive-search-form__footer">
            <button class="button predictive-search__search-button" ref="viewAllButton">
              {{ 'content.search_results_view_all' | t }}
            </button>
          </div>
        </div>
      </form>
    </predictive-search-component>
  </div>
{% endunless %}

{% stylesheet %}
  .search-action {
    --search-border-radius: var(--style-border-radius-inputs);
    --search-border-width: var(--style-border-width-inputs);

    display: flex;
  }


  @media screen and (max-width: 749px) {
    .search-action--hidden-on-drawer {
      display: none;
    }
  }

  @media screen and (min-width: 750px) {
    [data-menu-style='drawer'] .search-action--hidden-on-drawer {
      display: none;
    }

    [data-menu-style='menu'] .search-action--hidden-on-menu {
      display: none;
    }
  }

  [data-menu-style='menu'] .header__column--left .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--padding-lg) * -1);
    }
  }

  .header__column--right .search-action {
    @media screen and (min-width: 750px) {
      margin-inline: calc(var(--gap-md) * -1) calc(var(--gap-xs) * -1);
    }
  }

  @media screen and (min-width: 750px) {
    .header__column--right .search-action--text {
      margin-inline: 0;
    }

    [data-menu-style='menu'] .header__column--left .search-action--text {
      margin-inline: 0;
    }
  }
{% endstylesheet %}
